<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 50_ 인터넷 사용권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 위치 정보 제공 퍼미션 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="com.cha.tp_searchplaceapp.GlobalApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.TP_SearchPlaceApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="com.cha.tp_searchplaceapp.activities.PlaceUrlActivity"
            android:exported="false" />
        <activity
            android:name="com.cha.tp_searchplaceapp.activities.EmailSigninActivity"
            android:exported="false" />
        <activity
            android:name="com.cha.tp_searchplaceapp.activities.SignupActivity"
            android:exported="false" />
        <activity
            android:name="com.cha.tp_searchplaceapp.activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.cha.tp_searchplaceapp.activities.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cha.tp_searchplaceapp.activities.MainActivity"
            android:exported="false" /> <!-- 53_ 카카오 redirect URI 액티비티 등록 -->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao8faf5cafa96e1731070ef00dcd9aee33" />
            </intent-filter>
        </activity>

        <meta-data android:name="com.kakao.sdk.AppKey" android:value="8faf5cafa96e1731070ef00dcd9aee33"/>

    </application>

</manifest>